<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div>
  Current Currency:
  <select *ngIf="currencyRates" #currentCurrency (change)="currentCurrencyChangeEvent(currentCurrency.value)">
    <option *ngFor="let currencyRate of rateList" [value]="currencyRate.value">{{currencyRate.type}}</option>
  </select>
</div>

<div>
  New Currency:
  <select *ngIf="currencyRates"  #newCurrency (change)="newCurrencyChangeEvent(newCurrency.value)">
      <option *ngFor="let currencyRate of rateList" [value]="currencyRate.value">{{currencyRate.type}}</option>
    </select>
</div>
<div>
  Exchange Rate:
  <input [value]="exchangeRate" readonly="readonly"/>
</div>